.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//======================
//      NAVBAR
//======================
.navbar__wrap {
  width: 100vw;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #2d2d2d;
}
.header__navbar {
  width: 80vw;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //
}
.header__navbar__left {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    color: #f5f5f5;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #a87419;
    }
  }
}
.header__navbar__right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    list-style: none;
    position: relative;
    transition: all 0.5s ease-out;
    &:hover .sub-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  a {
    font-size: 12px;
    text-decoration: none;
    color: #f5f5f5;
    &:hover {
      color: #a87419;
    }
  }
}
.sub-menu {
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(37, 37, 37);
  min-width: 200px;
  text-align: center;
  top: 125%;
  transition: all 0.3s ease-out;
  overflow: hidden;
  left: -154%;
  z-index: 9999;
  padding: 0 15px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  li {
    margin-top: 0.6rem;
    padding-bottom: 1rem;
    // border-top: solid 1px rgba(0, 0, 0, 0.1);
  }
}
//======================
//      INFO
//======================
.header__info {
  width: 80vw;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__info__left {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #a87419;
  i {
    font-size: 2rem;
  }
  p {
    margin-left: 2rem;
  }
}
.header__info__middle {
  color: #fad706;
  flex: 1;
  p {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Train One', cursive;
  }
}
.header__info__right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .fa-heart {
    margin: 0 1rem;
  }
}
.info__cart {
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #2d2d2d;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover {
    color: #a87419;
  }
  p {
    border-left: solid 1px #2d2d2d;
    padding-left: 0.8rem;
  }
}
.fa-search,
.fa-heart {
  border: solid 1px #2d2d2d;
  padding: 1rem 1rem;
  transition: all 0.3s ease-in;
  cursor: pointer;
  &:hover {
    color: #a87419;
  }
}
//======================
//      LINKS
//======================
.header__links {
  min-height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px #2d2d2d;
  border-bottom: solid 1px #2d2d2d;
  li {
    list-style: none;
    position: relative;
    margin-right: 1.5rem;
    transition: all 0.5s ease-out;
    &:hover .sub-menu-2 {
      opacity: 1;
      visibility: visible;
      background-color: rgb(37, 37, 37);
      transform: perspective(600px) rotateX(0deg);
    }
  }
  a {
    font-size: 1rem;
    text-decoration: none;
    color: #f5f5f5;
    &:hover {
      color: #a87419;
    }
  }
}
.sub-menu-2 {
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  text-align: center;
  top: 125%;
  transition: all 0.3s ease-out;
  overflow: hidden;
  left: -30%;
  z-index: 9999;
  padding: 0 15px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0 0 0;
  li {
    margin-top: 0.6rem;
    padding-bottom: 1rem;
    // border-top: solid 1px rgba(0, 0, 0, 0.1);
  }
}
//======================
//      SLIDER
//======================

.header__slider {
  position: relative;
  width: 100%;
  background: #2f2f2f;
}
.myslide {
  height: 480px;
  display: none;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.5, 1.5);
    animation: zoomin 40s ease;
  }
}

.dotsbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  cursor: pointer;
}
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(255, 255, 255, 0.336);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.active,
.dot:hover {
  border-color: #a87419;
}

.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.txt {
  position: absolute;
  color: #fff;
  letter-spacing: 2px;
  line-height: 35px;
  top: 40%;
  left: 10vw;
  animation-name: posi;
  animation-duration: 2s;
  z-index: 1;
  h1 {
    color: #a87419;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  p {
    font-size: 1rem;
  }
  .slider_price {
    span {
      color: #a87419;
    }
  }
  button {
    padding: 1rem 3rem;
    margin-top: 1rem;
    background-color: #a87419;
    border: none;
    color: white;
    cursor: pointer;
  }
}

@keyframes posi {
  from {
    left: -20vw;
  }
  to {
    left: 10vw;
  }
}

@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

// @media screen and (max-width: 800px) {
//   .myslide {
//     height: 500px;
//   }
//   .txt {
//     letter-spacing: 2px;
//     line-height: 25px;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     animation-name: posi2;
//     animation-duration: 2s;
//   }

//   @keyframes posi2 {
//     from {
//       top: 35%;
//     }
//     to {
//       top: 50%;
//     }
//   }

//   .txt h1 {
//     font-size: 40px;
//   }
//   .txt p {
//     font-size: 13px;
//   }
// }

@media screen and (max-width: 520px) {
  .txt h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
