.feature {
  min-height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  //   padding-top: 3rem;
  border-top: 1px solid #2d2d2d;
}
.feature__container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabs {
  display: flex;
  position: relative;
}
.tab-item {
  min-width: 200px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.429);
  background-color: #252525;
  border: 1px solid #2d2d2d;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
    color: #a87419;
  }
}
.tab-item.active {
  opacity: 1;
  color: #a87419;
  border: 3px solid #a87419;
}
.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}

.tab-content {
  padding: 2rem 0;
}
.tab-pane {
  color: white;
  display: none;
}
.tab-pane.active {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 70vw;
}
.tab__card {
  width: 250px;
  height: 363px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
  p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.507);
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }
  h4 {
    color: #a87419;
    font-weight: 500;
    border-top: 1px solid #2d2d2d;
    padding-top: 0.5rem;
    span {
      color: grey;
      margin-right: 1rem;
      font-weight: 300;
      text-decoration: line-through;
    }
  }
}
