.trending {
  height: 40vh;
  width: 100vw;
  margin-top: 4rem;
  background: url(../images/banner/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.trending__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    color: #a87419;
  }
  h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem 0;
  }
  h4 {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.361);
  }
  button {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 3rem;
    margin-top: 2rem;
    color: #a87419;
    border: 2px solid #a87419;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: white;
      background-color: #a87419;
    }
  }
}
