@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
.header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__wrap {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px #2d2d2d;
}

.header__navbar {
  width: 80vw;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navbar__left {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navbar__left a {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  color: #f5f5f5;
  background-color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__navbar__left a:hover {
  background-color: #a87419;
}

.header__navbar__right {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navbar__right li {
  list-style: none;
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.header__navbar__right li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__navbar__right a {
  font-size: 12px;
  text-decoration: none;
  color: #f5f5f5;
}

.header__navbar__right a:hover {
  color: #a87419;
}

.sub-menu {
  position: absolute;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #252525;
  min-width: 200px;
  text-align: center;
  top: 125%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
  left: -154%;
  z-index: 9999;
  padding: 0 15px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.sub-menu li {
  margin-top: 0.6rem;
  padding-bottom: 1rem;
}

.header__info {
  width: 80vw;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info__left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a87419;
}

.header__info__left i {
  font-size: 2rem;
}

.header__info__left p {
  margin-left: 2rem;
}

.header__info__middle {
  color: #fad706;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__info__middle p {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
}

.header__info__right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__info__right .fa-heart {
  margin: 0 1rem;
}

.info__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid 1px #2d2d2d;
  padding: 0.8rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.info__cart:hover {
  color: #a87419;
}

.info__cart p {
  border-left: solid 1px #2d2d2d;
  padding-left: 0.8rem;
}

.fa-search,
.fa-heart {
  border: solid 1px #2d2d2d;
  padding: 1rem 1rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.fa-search:hover,
.fa-heart:hover {
  color: #a87419;
}

.header__links {
  min-height: 8vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: solid 1px #2d2d2d;
  border-bottom: solid 1px #2d2d2d;
}

.header__links li {
  list-style: none;
  position: relative;
  margin-right: 1.5rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.header__links li:hover .sub-menu-2 {
  opacity: 1;
  visibility: visible;
  background-color: #252525;
  -webkit-transform: perspective(600px) rotateX(0deg);
          transform: perspective(600px) rotateX(0deg);
}

.header__links a {
  font-size: 1rem;
  text-decoration: none;
  color: #f5f5f5;
}

.header__links a:hover {
  color: #a87419;
}

.sub-menu-2 {
  position: absolute;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  text-align: center;
  top: 125%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
  left: -30%;
  z-index: 9999;
  padding: 0 15px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: perspective(600px) rotateX(-90deg);
          transform: perspective(600px) rotateX(-90deg);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
}

.sub-menu-2 li {
  margin-top: 0.6rem;
  padding-bottom: 1rem;
}

.header__slider {
  position: relative;
  width: 100%;
  background: #2f2f2f;
}

.myslide {
  height: 480px;
  display: none;
  overflow: hidden;
}

.myslide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-animation: zoomin 40s ease;
          animation: zoomin 40s ease;
}

.dotsbox {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 20px;
  cursor: pointer;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(255, 255, 255, 0.336);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.active,
.dot:hover {
  border-color: #a87419;
}

.fade {
  -webkit-animation: fade 1.5s ease-in-out;
          animation: fade 1.5s ease-in-out;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.txt {
  position: absolute;
  color: #fff;
  letter-spacing: 2px;
  line-height: 35px;
  top: 40%;
  left: 10vw;
  -webkit-animation-name: posi;
          animation-name: posi;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  z-index: 1;
}

.txt h1 {
  color: #a87419;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.txt p {
  font-size: 1rem;
}

.txt .slider_price span {
  color: #a87419;
}

@-webkit-keyframes posi {
  from {
    left: 20vw;
  }
  to {
    left: 10vw;
  }
}

@keyframes posi {
  from {
    left: 20vw;
  }
  to {
    left: 10vw;
  }
}

@-webkit-keyframes zoomin {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

@keyframes zoomin {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

@media screen and (max-width: 520px) {
  .txt h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.category {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.category__thumbnail {
  height: 240px;
  width: 370px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.category__thumbnail img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.category__thumbnail img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category__description {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.category__description:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.category__description p {
  font-weight: 300;
}

.category__description h3 {
  color: #a87419;
  font-weight: 400;
  font-size: 1.6rem;
}

.category__description h4 {
  font-weight: 400;
}

.feature {
  min-height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  border-top: 1px solid #2d2d2d;
}

.feature__container {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.tab-item {
  min-width: 200px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.429);
  background-color: #252525;
  border: 1px solid #2d2d2d;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tab-item:hover {
  opacity: 1;
  color: #a87419;
}

.tab-item.active {
  opacity: 1;
  color: #a87419;
  border: 3px solid #a87419;
}

.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}

.tab-content {
  padding: 2rem 0;
}

.tab-pane {
  color: white;
  display: none;
}

.tab-pane.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 70vw;
}

.tab__card {
  width: 250px;
  height: 363px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.tab__card img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tab__card img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tab__card p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.507);
}

.tab__card h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.tab__card h4 {
  color: #a87419;
  font-weight: 500;
  border-top: 1px solid #2d2d2d;
  padding-top: 0.5rem;
}

.tab__card h4 span {
  color: grey;
  margin-right: 1rem;
  font-weight: 300;
  text-decoration: line-through;
}

.trending {
  height: 40vh;
  width: 100vw;
  margin-top: 4rem;
  background: url(../images/banner/1.jpg);
}

.trending__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.trending__content:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=main.css.map */